:root {
    
    --gray: rgb(110, 113, 117);
    --black: #000;
    --primaryFont: 'Lato', sans-serif;
    --primaryColor: #63f542;
    --textColor: rgb(235, 232, 232); 
}

/** GLOBALS  **/

html {
    box-sizing: border-box; 
    font-size: 62.5%;
}

:is( *, *:before, *:after ) {
    box-sizing: inherit;
}

body {  
    font-size: 1.6rem;
    line-height: 2;    
    font-family: 'Lato', sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
}

:is( h1, h2, h3, h4, h5, h6, p, ol, ul ) {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: var(--textColor);
}

:is( a, a:hover ) {
    text-decoration: none;      
    color: var(--textColor); 
    font-size: 2rem;
}

li {    
 list-style: none;      
}

label {
    font-size: 1.8rem;
    margin-bottom: .5rem;
    font-weight: 600;    
    letter-spacing: .1rem;
    color: var(--textColor);
}

:is( .input-views, option, input ) {
    background-color: transparent !important;
    font-size: 1.8rem;
    border-radius: 2rem;
    color: white;
    border: 3px solid var(--primaryColor);
    font-weight: 600;
    letter-spacing: .1rem;
}

input:active, input:focus, .input-views:active, .input-views:focus, option:active, option:focus, select:focus, select:active {   
    background-color: transparent !important;
    border: 3px solid var(--primaryColor) !important;
    box-shadow: .1rem .1rem 3rem var(--primaryColor) !important;  
    color: white !important;
}

input::placeholder {
    color: var(--gray);
    font-weight: lighter;
}

.button-views {
   position: relative;
   left: 40%;   
   text-align: center;
   padding-inline: 5rem;
   font-size: 2rem;
   font-weight: bold;
   color: var(--primaryColor) !important; 
   background-color: var(--black) !important;
   border: .3rem solid var(--primaryColor) ;
   text-transform: uppercase;
   letter-spacing: 1rem;
   border-radius: 3rem;
   transition: 1s;   
}

.button-views:hover {
   box-shadow: 0 .5rem 5rem 0 var(--primaryColor) inset, 0 .5rem 5rem 0 var(--primaryColor),
               0 .5rem 5rem 0 var(--primaryColor) inset, 0 .5rem 5rem 0 var(--primaryColor);
    text-shadow: 0 0 .5rem var(--primaryColor), 0 0 .5rem var(--primaryColor);
    color: white !important;
    font-weight: lighter;
    border: .3rem solid var(--primaryColor);
    transition: .7s;   
}

.button-small {
   font-size: 1rem;
   left: 0;    
   margin: 1.5rem 0 3rem 0;
}



img:where(figure) {
    margin-block: 10rem;
}

img {
    max-width: 100%;
}

/** RESOURCES  **/
.m-top {
   margin-top: 7rem;
}

/** HEADER **/

.navbar-views {
    border-bottom: .5rem solid rgb(221, 204, 204);
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    background-color: transparent;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-size: cover;
    padding: 20%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    filter: opacity(100%);
}

.banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.4;
    z-index: -1;
}
.banner > img {
filter:invert(90%) opacity(65%);
}

ul > li > a {
font-weight: bold !important;
letter-spacing: .35rem;
margin-inline: 1rem;
text-shadow: .1rem .1rem 1rem rgb(12, 12, 12) !important;
display: block;
display: inline-block;
position: relative; 
}

ul > li > a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .45rem;
  border-top-right-radius: 30rem;
  border-bottom-right-radius: 30rem;  
  bottom: 0;
  left: 0; 
  background-color: #820c94;  
  transform: scale(0);  
  transform-origin: bottom right;
  transition: transform 1s ease-out;   
}

ul > li > a:hover:after {
    transform: scalex(.7);
    transform-origin: bottom left;
    transition: transform .3s ease-out;    
} 



.zoom {
    transition: transform .2;
}

.zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
} 


/** MAIN  **/
.main {
    margin-top: 15rem;
}

.fondo2 {
    background-color:rgb(5, 4, 4);
}

/** FOOTER **/

footer {
    margin-top: 10rem;
}

.footer {
    border-top: .5rem solid rgb(221, 204, 204);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding-block: 4rem;
}


/** PLATOS  **/
.img-plato {
    box-shadow: .5rem .5rem 1rem var(--gray);
}

.title {
    font-size: 10rem;
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: .7rem;
    color: rgb(247, 241, 241);
    font-weight: bold;
}
.title2 {
    font-size: 7rem;
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
    font-weight: 500;
}

.title3 {
    font-size: 5rem;
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: white;
    font-weight: 500;
    margin: 3rem 0 5rem 0;
}

.card-update {
    background-color: transparent;
    border: 3px solid var(--primaryColor);
    border-radius: 1.5rem;
    padding: 1rem;    
}

.img-card {
    background-color: transparent;
    padding: 1rem;
    height: 35rem;
}

.border-none {
    border: none !important;
}